.S51-banner-img {
    width: 100%;
}

.S51-banner-text {
    font-size: 60px;
    position: absolute;
    margin-top: 120px;
    margin-left: 90px;
    text-shadow: 0px 2px 4px black;
    color: white;
}

.S51-car-text {
    font-size: 40px;
    margin-top: 60px;
    margin-left: 85px;
}

.S51-car-img {
    text-align: center;
    margin-top: 30px;
}

.S51-show-text {
    font-size: 50px;
    margin-top: 100px;
    margin-left: 85px;
}

.S51-show-text-1 {
    font-size: 30px;
    margin-top: 40px;
    margin-left: 85px;
}


.S51-show-img-1 {
    margin-top: 40px;
    margin-left: 75px;
}

.S51-show-e1, .S51-show-e2, .S51-show-e3, .S51-show-e4 {
    margin-right: 30px;
    margin-bottom: 20px;
}

.S51-show-e1:hover {
    -ms-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    transform: scale(1.1);
    box-shadow: 0px 5px 20px gray;
}

.S51-show-e2:hover {
    -ms-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    transform: scale(1.1);
    box-shadow: 0px 5px 20px gray;
}

.S51-show-e3:hover {
    -ms-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    transform: scale(1.1);
    box-shadow: 0px 5px 20px gray;
}

.S51-show-e4:hover {
    -ms-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    transform: scale(1.1);
    box-shadow: 0px 5px 20px gray;
}

.S51-show-text-2 {
    font-size: 30px;
    margin-top: 80px;
    margin-left: 85px;
}


.S51-show-img-2 {
    margin-top: 40px;
    margin-left: 75px;
}

.S51-show-i1, .S51-show-i2, .S51-show-i3, .S51-show-i4, .S51-show-i5, .S51-show-i6 {
    margin-right: 30px;
    margin-bottom: 20px;
}

.S51-show-i1:hover {
    -ms-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    transform: scale(1.1);
    box-shadow: 0px 5px 20px gray;
}

.S51-show-i2:hover {
    -ms-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    transform: scale(1.1);
    box-shadow: 0px 5px 20px gray;
}

.S51-show-i3:hover {
    -ms-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    transform: scale(1.1);
    box-shadow: 0px 5px 20px gray;
}

.S51-show-i4:hover {
    -ms-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    transform: scale(1.1);
    box-shadow: 0px 5px 20px gray;
}

.S51-show-i5:hover {
    -ms-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    transform: scale(1.1);
    box-shadow: 0px 5px 20px gray;
}

.S51-show-i6:hover {
    -ms-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    transform: scale(1.1);
    box-shadow: 0px 5px 20px gray;
}

.S51-data-text {
    font-size: 50px;
    margin-top: 80px;
    margin-left: 85px;
}

.S51-data-img {
    margin-top: 30px;
    margin-left: 65px;
    float: left;
}

.S51-data-text1 {
    font-size: 30px;
    margin-top: 40px;
    margin-left: 85px;
}

.S51-tdata {
    float: left;
    margin-top: 60px;
    font-size: 25px;
}

.S51-table {
    padding-right: 60px;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 10px;
}

.S51-Buy {
    font-size: 20px;
    background-color: rgb(0, 72, 255);
    width: 400px;
    margin-left: 80px;
    margin-top: 10px;
}