.SI2-banner-img {
    width: 100%;
}

.SI2-banner-text {
    font-size: 60px;
    position: absolute;
    margin-top: 120px;
    margin-left: 90px;
    text-shadow: 0px 2px 4px black;
    color: white;
}

.SI2-car-text {
    font-size: 40px;
    margin-top: 60px;
    margin-left: 85px;
}

.SI2-car-img {
    text-align: center;
    margin-top: 30px;
}

.SI2-show-text {
    font-size: 50px;
    margin-top: 100px;
    margin-left: 85px;
}

.SI2-show-text-1 {
    font-size: 30px;
    margin-top: 40px;
    margin-left: 85px;
}


.SI2-show-img-1 {
    margin-top: 40px;
    margin-left: 75px;
}

.SI2-show-e1, .SI2-show-e2, .SI2-show-e3, .SI2-show-e4, .SI2-show-e5, .SI2-show-e6 {
    margin-right: 30px;
    margin-bottom: 20px;
}

.SI2-show-e1:hover {
    -ms-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    transform: scale(1.1);
    box-shadow: 0px 5px 20px gray;
}

.SI2-show-e2:hover {
    -ms-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    transform: scale(1.1);
    box-shadow: 0px 5px 20px gray;
}

.SI2-show-e3:hover {
    -ms-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    transform: scale(1.1);
    box-shadow: 0px 5px 20px gray;
}

.SI2-show-e4:hover {
    -ms-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    transform: scale(1.1);
    box-shadow: 0px 5px 20px gray;
}

.SI2-show-e5:hover {
    -ms-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    transform: scale(1.1);
    box-shadow: 0px 5px 20px gray;
}

.SI2-show-e6:hover {
    -ms-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    transform: scale(1.1);
    box-shadow: 0px 5px 20px gray;
}

.SI2-show-text-2 {
    font-size: 30px;
    margin-top: 80px;
    margin-left: 85px;
}


.SI2-show-img-2 {
    margin-top: 40px;
    margin-left: 75px;
}

.SI2-show-i1, .SI2-show-i2, .SI2-show-i3, .SI2-show-i4, .SI2-show-i5 {
    margin-right: 30px;
    margin-bottom: 20px;
}

.SI2-show-i1:hover {
    -ms-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    transform: scale(1.1);
    box-shadow: 0px 5px 20px gray;
}

.SI2-show-i2:hover {
    -ms-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    transform: scale(1.1);
    box-shadow: 0px 5px 20px gray;
}

.SI2-show-i3:hover {
    -ms-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    transform: scale(1.1);
    box-shadow: 0px 5px 20px gray;
}

.SI2-show-i4:hover {
    -ms-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    transform: scale(1.1);
    box-shadow: 0px 5px 20px gray;
}

.SI2-show-i5:hover {
    -ms-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    transform: scale(1.1);
    box-shadow: 0px 5px 20px gray;
}

.SI2-data-text {
    font-size: 50px;
    margin-top: 80px;
    margin-left: 85px;
}

.SI2-data-img {
    margin-top: 30px;
    margin-left: 65px;
    float: left;
    width: 555px;
}

.SI2-data-text1 {
    font-size: 30px;
    margin-top: 40px;
    margin-left: 85px;
}

.SI2-tdata {
    float: left;
    margin-top: 50px;
    font-size: 21px;
}

.SI2-table {
    padding-right: 60px;
    padding-top: 25px;
    padding-left: 75px;
    padding-bottom: 10px;
}

.SI2-Buy {
    font-size: 20px;
    background-color: rgb(0, 72, 255);
    width: 400px;
    margin-left: 140px;
    margin-top: 10px;
}