.SX1-banner-img {
    width: 100%;
}

.SX1-banner-text {
    font-size: 60px;
    position: absolute;
    margin-top: 120px;
    margin-left: 90px;
    text-shadow: 0px 2px 4px gray;
}

.SX1-car-text {
    font-size: 40px;
    margin-top: 60px;
    margin-left: 85px;
}

.SX1-car-img {
    text-align: center;
    margin-top: 30px;
}

.SX1-show-text {
    font-size: 50px;
    margin-top: 100px;
    margin-left: 85px;
}

.SX1-show-text-1 {
    font-size: 30px;
    margin-top: 40px;
    margin-left: 85px;
}


.SX1-show-img-1 {
    margin-top: 40px;
    margin-left: 75px;
}

.SX1-show-e1, .SX1-show-e2, .SX1-show-e3, .SX1-show-e4, .SX1-show-e5, .SX1-show-e6 {
    margin-right: 30px;
    margin-bottom: 20px;
}

.SX1-show-e1:hover {
    -ms-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    transform: scale(1.1);
    box-shadow: 0px 5px 20px gray;
}

.SX1-show-e2:hover {
    -ms-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    transform: scale(1.1);
    box-shadow: 0px 5px 20px gray;
}

.SX1-show-e3:hover {
    -ms-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    transform: scale(1.1);
    box-shadow: 0px 5px 20px gray;
}

.SX1-show-e4:hover {
    -ms-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    transform: scale(1.1);
    box-shadow: 0px 5px 20px gray;
}

.SX1-show-e5:hover {
    -ms-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    transform: scale(1.1);
    box-shadow: 0px 5px 20px gray;
}

.SX1-show-e6:hover {
    -ms-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    transform: scale(1.1);
    box-shadow: 0px 5px 20px gray;
}

.SX1-show-text-2 {
    font-size: 30px;
    margin-top: 80px;
    margin-left: 85px;
}


.SX1-show-img-2 {
    margin-top: 40px;
    margin-left: 75px;
}

.SX1-show-i1, .SX1-show-i2, .SX1-show-i3, .SX1-show-i4 {
    margin-right: 30px;
    margin-bottom: 20px;
}

.SX1-show-i1:hover {
    -ms-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    transform: scale(1.1);
    box-shadow: 0px 5px 20px gray;
}

.SX1-show-i2:hover {
    -ms-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    transform: scale(1.1);
    box-shadow: 0px 5px 20px gray;
}

.SX1-show-i3:hover {
    -ms-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    transform: scale(1.1);
    box-shadow: 0px 5px 20px gray;
}

.SX1-show-i4:hover {
    -ms-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    transform: scale(1.1);
    box-shadow: 0px 5px 20px gray;
}

.SX1-data-text {
    font-size: 50px;
    margin-top: 80px;
    margin-left: 85px;
}

.SX1-data-img {
    margin-top: 30px;
    margin-left: 65px;
    float: left;
    width: 575px;
}

.SX1-data-text1 {
    font-size: 30px;
    margin-top: 40px;
    margin-left: 85px;
}

.SX1-tdata {
    float: left;
    margin-top: 50px;
    font-size: 25px;
}

.SX1-table {
    padding-right: 60px;
    padding-top: 25px;
    padding-left: 75px;
    padding-bottom: 10px;
}

.SX1-Buy {
    font-size: 20px;
    background-color: rgb(0, 72, 255);
    width: 400px;
    margin-left: 140px;
    margin-top: 10px;
}